<?xml version="1.0" encoding="utf-8"?>


<config>

	<fieldset name="configuration"
			label="RECRUITMENT_CONFIG_COMPONENT_CONFIGURATION"
			description="RECRUITMENT_CONFIG_COMPONENT_CONFIGURATION_1"
			addfieldpath="/administrator/components/com_recruitment/models/fields"/>

	<fieldset name="permissions"
			label="RECRUITMENT_CONFIG_PERMISSIONS"
			description="RECRUITMENT_CONFIG_DEFAULT_PERMISSIONS_USED_FOR_ALL_CONTENT_IN_THIS_COMPONENT"
			addfieldpath="/administrator/components/com_recruitment/models/fields">

		<field name="rules"
				label="RECRUITMENT_FIELD_PERMISSIONS"
				filter="rules"
				type="rules"
				validate="rules"
				section="component"
				component="com_recruitment"/>
	</fieldset>
</config>